<ion-header>
  <ion-toolbar>
    <ion-title>
      Workout Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/workout.jpeg"></ion-img>
      <ion-card-header>
        <ion-card-title>Welcome Michael</ion-card-title>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>3 Days since last workout</p>
      </ion-card-content>
    </ion-card>
</ion-content>
